# Assessment Review

The topics covered will be:

1. SQL
2. Bayesian Statistics
3. Normal Distributions
4. Statistical Tests

In [39]:
# from src.call import call_on_students

## Part 1: SQL

In [40]:
# Need to import pandas and sqlite3
import pandas as pd
import sqlite3

In [41]:
conn = sqlite3.connect('data/Chinook_Sqlite.sqlite')

In [42]:
pd.read_sql(
    """
    SELECT *
    FROM Customer
    LIMIT 3
    """, conn
)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3

In [43]:
pd.read_sql(
    """
    SELECT *
    FROM Invoice
    LIMIT 3
    """, conn
)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,2,4,2009-01-02 00:00:00,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
2,3,8,2009-01-03 00:00:00,Grétrystraat 63,Brussels,None,Belgium,1000,5.94

### Task 1: Write a query to return the customer IDs for every customer in Germany.

In [44]:
# call_on_students(1)

In [45]:
pd.read_sql(
    """
    SELECT CustomerId 
    FROM Invoice
    WHERE BillingCountry = "Germany"
    
    """, conn
)

    CustomerId
0            2
1           37
2           38
3            2
4           36
5           38
6           36
7           38
8            2
9           36
10          38
11          37
12          37
13          37
14           2
15           2
16          36
17          38
18          38
19           2
20          36
21          36
22          38
23           2
24          36
25          37
26          37
27          37

### Task 2: Write a query to return the last names, email addresses and *billing* addresses of the customers who live in Canada.

In [46]:
# call_on_students(1)

In [47]:
pd.read_sql(
    """
    SELECT DISTINCT c.LastName, c.Email, i.BillingAddress
    FROM Customer c
    JOIN Invoice i
    ON c.CustomerId = i.CustomerId
    WHERE c.Country = "Canada"
    """, conn
)

   LastName                   Email          BillingAddress
0   Philips      mphilips12@shaw.ca          8210 111 ST NW
1      Silk    marthasilk@gmail.com   194A Chain Lake Drive
2  Sullivan  ellie.sullivan@shaw.ca          5112 48 Street
3  Peterson     jenniferp@rogers.ca     700 W Pender Street
4     Brown        robbrown@shaw.ca  796 Dundas Street West
5   Francis     edfrancis@yachoo.ca        230 Elgin Street
6  Mitchell  aaronmitchell@yahoo.ca      696 Osborne Street
7  Tremblay     ftremblay@gmail.com       1498 rue Bélanger

### Task 3: Write a query to return the billing totals by country, in descending order of the totals.

In [48]:
# call_on_students(1)

In [49]:
pd.read_sql(
    """
    SELECT BillingCountry, SUM(Total) AS sum
    FROM Invoice
    GROUP BY BillingCountry
    ORDER BY sum DESC
    """, conn
)

    BillingCountry     sum
0              USA  523.06
1           Canada  303.96
2           France  195.10
3           Brazil  190.10
4          Germany  156.48
5   United Kingdom  112.86
6   Czech Republic   90.24
7         Portugal   77.24
8            India   75.26
9            Chile   46.62
10         Ireland   45.62
11         Hungary   45.62
12         Austria   42.62
13         Finland   41.62
14     Netherlands   40.62
15          Norway   39.62
16          Sweden   38.62
17          Poland   37.62
18           Italy   37.62
19         Denmark   37.62
20       Australia   37.62
21       Argentina   37.62
22           Spain   37.62
23         Belgium   37.62

### ***Task 4: Write a query to return the last names, email addresses, billing addresses, and most recent invoice dates for the customers whose most recent invoice is after Dec 31, 2011.

In [50]:
# call_on_students(1)

In [51]:
pd.read_sql(
    """
    WITH t AS
    (SELECT CustomerId, BillingAddress, MAX(InvoiceDate) as latestInvoice
    FROM Invoice
    WHERE InvoiceDate > "2011-12-31"
    GROUP BY CustomerId)
    SELECT LastName, Email, latestInvoice
    FROM Customer, t
    GROUP BY Customer.CustomerId
    """, conn
)

        LastName                          Email        latestInvoice
0      Gonçalves           luisg@embraer.com.br  2013-08-07 00:00:00
1         Köhler          leonekohler@surfeu.de  2013-08-07 00:00:00
2       Tremblay            ftremblay@gmail.com  2013-08-07 00:00:00
3         Hansen          bjorn.hansen@yahoo.no  2013-08-07 00:00:00
4    Wichterlová       frantisekw@jetbrains.com  2013-08-07 00:00:00
5           Holý                hholy@gmail.com  2013-08-07 00:00:00
6         Gruber         astrid.gruber@apple.at  2013-08-07 00:00:00
7        Peeters          daan_peeters@apple.be  2013-08-07 00:00:00
8        Nielsen          kara.nielsen@jubii.dk  2013-08-07 00:00:00
9        Martins       eduardo@woodstock.com.br  2013-08-07 00:00:00
10         Rocha               alero@uol.com.br  2013-08-07 00:00:00
11       Almeida  roberto.almeida@riotur.gov.br  2013-08-07 00:00:00
12         Ramos       fernadaramos4@uol.com.br  2013-08-07 00:00:00
13       Philips             mphilips12@shaw.ca  2013-08-07 00:00:00
14      Peterson            jenniferp@rogers.ca  2013-08-07 00:00:00
15        Harris             fharris@google.com  2013-08-07 00:00:00
16         Smith        jacksmith@microsoft.com  2013-08-07 00:00:00
17        Brooks              michelleb@aol.com  2013-08-07 00:00:00
18         Goyer               tgoyer@apple.com  2013-08-07 00:00:00
19        Miller            dmiller@comcast.com  2013-08-07 00:00:00
20         Chase            kachase@hotmail.com  2013-08-07 00:00:00
21       Leacock             hleacock@gmail.com  2013-08-07 00:00:00
22        Gordon         johngordon22@yahoo.com  2013-08-07 00:00:00
23       Ralston             fralston@gmail.com  2013-08-07 00:00:00
24       Stevens             vstevens@yahoo.com  2013-08-07 00:00:00
25    Cunningham       ricunningham@hotmail.com  2013-08-07 00:00:00
26          Gray           patrick.gray@aol.com  2013-08-07 00:00:00
27       Barnett            jubarnett@gmail.com  2013-08-07 00:00:00
28         Brown               robbrown@shaw.ca  2013-08-07 00:00:00
29       Francis            edfrancis@yachoo.ca  2013-08-07 00:00:00
30          Silk           marthasilk@gmail.com  2013-08-07 00:00:00
31      Mitchell         aaronmitchell@yahoo.ca  2013-08-07 00:00:00
32      Sullivan         ellie.sullivan@shaw.ca  2013-08-07 00:00:00
33     Fernandes            jfernandes@yahoo.pt  2013-08-07 00:00:00
34       Sampaio              masampaio@sapo.pt  2013-08-07 00:00:00
35     Schneider      hannah.schneider@yahoo.de  2013-08-07 00:00:00
36    Zimmermann           fzimmermann@yahoo.de  2013-08-07 00:00:00
37      Schröder            nschroder@surfeu.de  2013-08-07 00:00:00
38       Bernard       camille.bernard@yahoo.fr  2013-08-07 00:00:00
39      Lefebvre    dominiquelefebvre@gmail.com  2013-08-07 00:00:00
40        Dubois        marc.dubois@hotmail.com  2013-08-07 00:00:00
41        Girard          wyatt.girard@yahoo.fr  2013-08-07 00:00:00
42       Mercier      isabelle_mercier@apple.fr  2013-08-07 00:00:00
43    Hämäläinen      terhi.hamalainen@apple.fi  2013-08-07 00:00:00
44        Kovács       ladislav_kovacs@apple.hu  2013-08-07 00:00:00
45      O'Reilly           hughoreilly@apple.ie  2013-08-07 00:00:00
46       Mancini         lucas.mancini@yahoo.it  2013-08-07 00:00:00
47  Van der Berg        johavanderberg@yahoo.nl  2013-08-07 00:00:00
48        Wójcik         stanisław.wójcik@wp.pl  2013-08-07 00:00:00
49         Muñoz         enrique_munoz@yahoo.es  2013-08-07 00:00:00
50     Johansson      joakim.johansson@yahoo.se  2013-08-07 00:00:00
51         Jones         emma_jones@hotmail.com  2013-08-07 00:00:00
52        Hughes          phil.hughes@gmail.com  2013-08-07 00:00:00
53        Murray          steve.murray@yahoo.uk  2013-08-07 00:00:00
54        Taylor           mark.taylor@yahoo.au  2013-08-07 00:00:00
55     Gutiérrez       diego.gutierrez@yahoo.ar  2013-08-07 00:00:00
56         Rojas             luisrojas@yahoo.cl  2013-08-07 00:00:00
57        Pareek        manoj.pareek@rediff.com  2013-08-07 00:00:00
58    Srivastava       puja_srivastava@yahoo.in  2013-08-07 00:00:00

## Part 2: Bayesian Statistics

$$ P(A|B) = \dfrac{P(B|A)P(A)}{P(B)}$$

### The Prompt:

> In the second session of the 98th congress in 1984, a congressman voted 'No' on providing aid to El Salvador. 
> 
> Given that 60% of the congress were Democrats, 75% of whom voted 'No' for providing aid to El Salvador, and only 5% of Republicans voted 'No' to the proposal, what is the conditional probability that this individual is a Democrat?

### Task 5: Calculate the probability

In [52]:
# call_on_students(1)

**1. Which probability are we trying to find?**

   - P(Democrat | No)

**2. Based on that, what other pieces do we need?**

   - P(Democrat | No) = P(No | Democrat) * P(Democrat) / P(No)
   - SO:
   - P(No | Democrat) = .75
   - P(Democrat) = .6
   - P(No) = P(No | Dem) * P(Dem) + P(No | Rep) * P(Rep) = (.75 * .6) + (.06 * (1 - .6)) = .47

**3. Result?**

   - P(Democrat | No) = P(No | Democrat) * P(Democrat) / P(No)
   - P(Democrat | No) = .75 * .6 / .47 = .9574 &#8594; **96%!**

In [53]:
# In code
p_dem = .6
p_rep = 1-p_dem

In [54]:
p_no_given_dem = .75
p_no_given_rep = .05

In [55]:
p_no = p_no_given_dem * p_dem + p_no_given_rep * p_rep
p_no

0.47

In [56]:
p_dem_given_no = p_no_given_dem * p_dem / p_no
p_dem_given_no

0.9574468085106382

## Part 3: Normal Distributions

In this part, you will analyze hours of sleep for Freshman at a University. We know that the population distribution of hours of sleep for Freshman at the University is normally distributed with a mean of 6 and a standard deviation of 2.

### Task 6: Create a numeric variable `z_eight` that contains the z-score for a Freshman that sleeps 8 hours

In [57]:
# call_on_students(1)

In [58]:
mu_fresh = 6
std_fresh = 2

# z_score = point - mu / std
z_eight = (8 - mu_fresh)/std_fresh
z_eight

1.0

### Task 7: Create a numeric variable `over_eight` containing the approximate proportion of Freshman who get more than 8 hours of sleep

In [59]:
# call_on_students(1)

In [60]:
# best to import scipy stats!
from scipy import stats

In [61]:
# right side of distribution - can use .sf or 1-CDF
print(1 - stats.norm(loc=mu_fresh, scale=std_fresh).cdf(8))
print(stats.norm(loc=mu_fresh, scale=std_fresh).sf(8))

0.15865525393145707
0.15865525393145707

In [67]:
# Can also get this answer more generally, based on the z-score
# Still the right side of distribution though
print(1 - stats.norm().cdf(z_eight))
print(stats.norm().sf(z_eight))

0.15865525393145707

0.15865525393145707

### Task 8: Calculate a 95% confidence interval for the amount of sleep for one Freshman who sleeps 7 times with a mean of 5 hours and a standard deviation of 0.5 hours

In [ ]:
# call_on_students(1)

In [68]:
# Let's capture these variables here
n = 7
mean = 5
std = .5

In [69]:
# More manual approach
# Need to calculate the standard error
sterr = std / (n ** 0.5)
print(sterr)
# Use that to get to the margin of error
margin_error = stats.t.ppf(0.975, df=n-1) * sterr  # Using t because n=7
# Find our intervals
int_min = mean - margin_error
int_max = mean + margin_error
print(int_min, int_max)

0.1889822365046136
4.53757712628571 5.46242287371429

In [70]:
from scipy import stats
# Using Scipy Stats
# Using t because n=7
stats.t.interval(alpha=.95,  # This is actually our Confidence level
                 loc=mean,  # Mean
                 # Still need to calculate that standard error by hand
                 scale=sterr, #scale = std error
                 df=n-1) # degrees of freedom = n-1

(4.53757712628571, 5.46242287371429)

### Task 9: Interpret the 95% Confidence Interval that you derived in the above question

In [ ]:
# call_on_students(1)

- A 95% confidence interval means that there is a 95% chance for the interval to contain the true population mean. In this case, that means there is a 95% chance that the true mean of the distribution of hours of sleep likely for this Freshman is between 4.9 and 5.04 hours.

## Part 4: Hypothesis Testing

Let's make some hypotheses about cars!

### Task 10: Set Up

In [ ]:
# call_on_students(1)

In [22]:
# Imports - need pandas and matplotlib
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
# Import the auto-mpg csv from the data folder
df = pd.read_csv("data/auto-mpg.csv")

In [24]:
# Check the head of our data
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [25]:
# Check the info on our data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 27.7+ KB

In [26]:
# Describe the data
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592,1.576531
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737,0.805518
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000,1.000000
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [ ]:
# Run this cell without changes to set up for the next set of questions

# Grabbing the median car weight
weight_median = df['weight'].median()

# Separating based on light cars and heavy cars
heavy_cars = df.loc[df['weight'] > weight_median].sample(n=100, random_state=42)
light_cars = df.loc[df['weight'] <= weight_median].sample(n=100, random_state=42)

# Plotting histograms for acceleration for both light and heavy cars
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 4))

ax1.set_title('Sample of Heavy Cars')
ax1.set_xlabel('Acceleration')
ax1.set_ylabel('Frequency')
ax1.hist(heavy_cars['acceleration'], bins=12)

ax2.set_title('Sample of Light Cars')
ax2.set_xlabel('Acceleration')
ax2.set_ylabel('Frequency')
ax2.hist(light_cars['acceleration'], bins=12)
plt.show()

### The Prompt: 

> Car manufacturers want to know if light cars accelerate faster than heavy cars.

### Task 11: Set up the null and alternative hypotheses for this test

In [ ]:
# call_on_students(1)

**Null hypothesis:**
- light cars accelerate either slower than or equal to heavy cars

**Alternative hypothesis:**
- light cars accelerate faster than heavy cars

### Task 12: Describe your Type 1 and Type 2 errors in this context

In [ ]:
# call_on_students(1)

**Type I Error:**
- you find evidence that light cars accelerate faster than heavy cars, but actually they're the same or slower

**Type II Error:**
- you don't find evidence that light cars accelerate faster than heavy cars, but actually they are faster

### Task 13: The Hypothesis Test!

### 13a: Describe the type of test:

In [ ]:
# call_on_students(1)

- Two-sample independent t-test
- Right one-tailed test

### 13b: Run the test, using alpha = .05 and assuming that the samples have equal variance

In [ ]:
# call_on_students(1)

In [ ]:
# No reason not to use stats here!
print(stats.ttest_ind(light_cars['acceleration'], heavy_cars['acceleration']))

### 13c: Analyze your results: can you reject the null hypothesis?

In [ ]:
# call_on_students(1)

- P-value is 1.2 x 10^-6 - very small! Smaller than .05
- We can reject the null hypothesis

In [ ]:
# In code: easiest to use p-value approach since we have it from the test!
alpha = .05
# Grab p-value from test:
p_value = stats.ttest_ind(light_cars['acceleration'], heavy_cars['acceleration'])[1]

print(f"Is T-test's P-Value ({p_value:.4f}) < alpha ({alpha})? {p_value < alpha}")